.box{
    display: flex;
    flex-direction: column;
}
.box .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.box .card .details{
    max-width: 60%;
}
.box .card .image{
    max-width: 30%;
}
@media (max-width: 768px) {
    .box .card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box .card .details{
        max-width: 300px;
    }
    .box .card .image{
        max-width: 300px;
    }
}