header{
    width: 100%;
    height: auto;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

header .logo img{
    width: 200px;
}
.yt{
    text-align: center;
}
header .yt img{
    width: 100px;
}
@media(max-width:767px){
    header{
        justify-content: center;
    }
    header .logo img{
        width: 200px;
    }
    .yt{
        display: none;
    }
}

